.text1Flex{
    display: flex;    align-items: center;
    gap: 50px;justify-content: center;
}

.text2{
    font-size: 100px;
    display: block;
    animation: lover2 2s ;
    animation-iteration-count: 1;
    animation-delay: 1s;
    position: relative;
    color: white;
    animation-fill-mode: forwards ;
}

.text1{
    font-size: 100px;
    display: block;
    animation: lover1 3s ;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-fill-mode: forwards ;
    color: white;
    position: relative;
}

@keyframes lover1 {
    0%{
        display: block;
        top: 100px;
        color: black;
    }  
    50%{
        top: 0px;
        color: red;
    }
    100%{
        top: 0px;
        color: white;
    }
}

@keyframes lover2 {
    0%{
        display: block;
        top: 100px; 
        color: black;      
    }  
    50%{
        top: 0px;
        color: black;
    }

    
    100%{
        top: 0px;
        color: white;
    }
}

.text2flex{
    display: flex;
    align-items: center;
    gap: 100px;justify-content: center;
}

.text3{
    font-size: 100px;
    color: white;
    display: block;
    animation: you 2s step-start, disappear 2s 5s forwards; ;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.text4{
    font-size:101px;
    opacity: 0;
    animation: loveanimate 4s step-start, disappear 2s 7s forwards;
    animation-fill-mode: forwards;
    animation-delay:3.5s;
}

@keyframes you {
    0%{
        color: white;
    }

    100%{
        color: black;

    }
    
}


@keyframes loveanimate {
    0%{
        opacity: 0;       
        font-size:101px;
    }
    100%{
        opacity: 100; 
        font-size:101px;
    } 
    
}

.text5{
    font-size: 200px;
    opacity: 0;
    overflow: hidden; /* Ensures the text is hidden during the animation */
    animation: macText 2s backwards, disappear 2s 5s forwards;
    animation-fill-mode: forwards;
    animation-delay: 4s;

}

@keyframes macText {

    0%{
        margin-left: 20px;
        opacity: 0;  
    }
    100%{
        margin-left: 0px;
        opacity: 100;
    }
      
}



/* Keyframes for disappearing animation */
@keyframes disappear {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}


.pressText{
    font-size: 300px;
    padding: 150px;background-color: red;display: inline-block;
    margin-left: -1000px;
    animation: progressAnimate 2s, disappear 5s 35s forwards ;    animation-fill-mode: forwards;
    animation-delay: 6s;

}

@keyframes progressAnimate {

    0%{
        margin-left: -1000px;
        font-size: 300px;

    }
    50%{
        margin-left: 0px;
        font-size: 400px;
    }
    100%{
        margin-left: 0px;
        font-size: 100px;

    }
    
}

.pressAnyKeContaiery{
    align-items: center;
    display: flex;
    justify-content: center;

}

.anyKey{
    align-items: center;

    font-size: 70px;
    display: inline-block;
    position: relative;
    animation: anykeyanmimte 2s ease-in-out forwards, disappear 3s 38s forwards ;
    animation-delay: 8s;
    visibility: hidden;
    margin-left: 500px;
    white-space: nowrap;
    overflow: hidden;
}


@keyframes anykeyanmimte {
    0% {
        visibility: hidden;

        margin-left: 900px;


    }
    /* 50%{margin-left: 700px;

    } */
    100% {

        margin-left: 110px;

        visibility: visible;

    }
}

@keyframes disappear {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.blackwhjite{
    background-color: black;
    height: 1000px;
    visibility: hidden;
    animation: bw 2s forwards;
    animation-delay: 11s;
    
}


@keyframes bw {
    0% {
        top: 0px;
        background-color: black;
        height: 1000px;          visibility: visible;
    }
    100% {
        top: 0px;
        background-color: black;
        height: 1000px;         visibility: visible;
    }
}

.macDoes{
    border-right: 1px solid black;
    animation: cursorAnimation 1s steps(1, end) infinite, typeE 5s steps(20, end);
    white-space: nowrap;
    overflow: hidden;
    visibility:hidden ;
font-size: 100px;
    animation-delay: 11s;

}


@keyframes cursorAnimation {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: black;
    }
    100%{
        border-color: transparent;
    }
    
}

@keyframes typeE {
    0%{
        width: 0;
        visibility:visible ;
    }
    100%{
        width: 100%;
        visibility: hidden;
    }
    
}

.cent{
    display: flex;
}

.longText{
    font-size: 90px;
    animation: longs 9s;
    animation-delay: 16s;
    visibility:hidden ;
    position: absolute;
     top: 0;


}

@keyframes longs {
    0%{

        font-size: 90px;
        visibility:visible ;

    

    }

    50%{

        font-size: 300px;
        visibility:visible ;
        font-stretch: ultra-expanded;  


    }



    
    100%{
        font-size: 0px;
        font-stretch: ultra-expanded;  
        visibility:visible ;

    }
    
}

.Battery{
    font-size: 100px;
    width: 0;
    white-space: nowrap;

    overflow: hidden;
    animation: batteryanmatrion 5s ease-in-out forwards;
    animation-delay: 24s;

    position: absolute;
    top: 100px;
    right: 0;
}




@keyframes batteryanmatrion {
    0%{
        width: 0;
        transform: rotate(150deg);  
        top: 100px;
    }
    100%{
        width: 100%;
        top: 500px;
        right: 20px;

        transform: rotate(360deg);
        visibility: hidden;

    }
    
}

.black-background {
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    background-color: black;
    position: absolute;
    top: 0;
    visibility: hidden;
    animation: blackBG 10s forwards;
    animation-delay: 29s;
    color: white;
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;

}


@keyframes blackBG {
    0%{
        width: 0%;
        height: 0%;
        transform: rotate(150deg);  
top: 0; 
   }
    100%{
        width: 100%;
        height: 100vh; /* 100% of the viewport height */
        background-color: black;
        position: absolute;
        top: 0;
        visibility: visible;
        text-align: center;

        

    }
    
}






